version: '3.5'
services:
  cassandra:
    image: cassandra:3.11.10
    container_name: cassandra
    ports:
      - "9042:9042"
    environment:
      - "MAX_HEAP_SIZE=256M"
      - "HEAP_NEWSIZE=128M"
    restart: always
    volumes:
      - /tmp/cassandra:/var/lib/cassandra

  indy_repository_service:
    image: "indy-repository-service:latest"
    container_name: "indy-repository-service"
    build:
      dockerfile: ./src/main/image/Dockerfile
      context: ./
    depends_on:
      - cassandra
    ports:
      - "8080:8080"
    restart: always
